


<div class= "user_image" >
<% if @user.image.present? %>
  <%= image_tag @user.image, alt: @user.name %>
<% end %>
</div>
<h2 class="user-name"><%= @user.name %></h2>
<h4> Following </h4>
<h4> Follower </h4> 
<h4> Liked </h4>


<button>Follow</button>

