
<h2>All Posts</h2>


<p>
  Total: <%= pluralize(@posts.length, 'post') %>
</p>


<div class="container">

      <% @posts.each do |post| %>    
      <div class="gallery-container w-2 h-3"> 
          <div class="gallery-item">
            <div class="image">
                <%= link_to (image_tag post.image, alt: post.name),post_path(post) %>
            </div> 
            <div class="text">  
                <%= post.name  %>
            </div>
          </div>     
      </div>
      <% end %> 

</div>
