/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 *= require_tree .

 *= require_self
 */

 .header {
    width: 1170px;
    margin: auto;
    z-index: 100;
    
  
 }

 .nav-area {
    float: right;
    list-style: none;
    margin-top: 39px;
    padding-right: 273px;
}

.user {
    float: right;
    list-style: none;
    margin-top: -7%;
    margin-right: -2%;
}

.nav-area li {
    display: inline-block;
}
.user li {
    display: inline-block;
}

.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 14px;
}
.user li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 14px;
}

.nav-area li a:hover{
    background: #fff;
    color: #333;
}

.user li a:hover{
    background: #fff;
    color: #333;
}
.user img {
    /* max-width: 50px; */
    /* max-width: 15vw; */
    object-fit: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-bottom: -7px;    
}
#almon{
    color:aliceblue;
    margin-left: -1007px;
    font-size: 30px;
}

