
.user-container{
   text-align: center;
}
.user_image{
   object-fit: cover;
   width: 90px;
   height: 90px;
   border-radius: 50%;
}
.user-img{
   text-align: center;
}
.user-name{
   color: aliceblue;
   text-align: center;
}
.liked{
   color:aliceblue;
   margin-top:  5%;
}
.h{
   color:red;
   font-size: 55px;
   margin-top: -2%;
   margin-left: 0; 
 }
 
 
