<h2> All categories</h2>


<p>
   Total: <%= pluralize(@categories.length, 'categories') %>
</p>
<div class="container">
   
    <% @categories.each do |cat| %> 
    <div class="gallery-container w-1 h-2">
       <div class="gallery-item"> 
          <div class="image">
            <%= link_to (image_tag cat.image, alt: cat.name), category_path(cat.id) %> 
          </div>       
          <div class="text">   
            <%= cat.name %> 
          </div>      
       </div>  
    </div> 
    <% end %>
</div>

