<h1>All Categories</h1>
<div class="post_many">
    <ul>
    <% @categories.each do |cat| %>
    <li>
        <%= link_to cat.name, category_path(cat.id) %>
        <br>
        <% cat.posts.each do|p| %>
        <%= link_to (image_tag p.image, alt: p.name), post_path(p) %>
        <br>
        <br>
        
        <% end %>
    </li>
    <% end %>
    </ul>
</div>

